workflows/Marketing AI Agent.json
{
  "name": "Marketing AI Agent ",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -704,
        -448
      ],
      "id": "28db0f76-24ee-46d3-ba2f-f42c01b8ec9d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "name": "editImage",
        "description": "Call this tool to edit an image.",
        "workflowId": {
          "__rl": true,
          "value": "l0gFdbpOikKKr87U",
          "mode": "list",
          "cachedResultName": "Shared Folder — Edit an Image - Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The title of the image the user wants to edit`, 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "request": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('request', `The edit the user wants to make to the image`, 'string') }}",
            "imageID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageID', `The ID of the image to edit`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "imageID",
              "displayName": "imageID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -944,
        352
      ],
      "id": "e7db3aae-1cc9-4fda-b9dc-d8dda5a8e3af",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "name": "searchImages",
        "description": "Call this tool to search the image database.",
        "workflowId": {
          "__rl": true,
          "value": "LGbYqBMuzeICF4H3",
          "mode": "list",
          "cachedResultName": "Shared Folder — Search Images - Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "intent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intent', `The intent of the user. This can either be \"Get\" or \"Edit\"`, 'string') }}",
            "image": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The image title`, 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -784,
        416
      ],
      "id": "25192abb-e232-4004-a97e-dee024c0bd5e",
      "name": "Search Images"
    },
    {
      "parameters": {
        "name": "blogPost",
        "description": "Call this tool to create a blog post using a topic and a target audience.",
        "workflowId": {
          "__rl": true,
          "value": "EHJfDDSvSzSDdErk",
          "mode": "list",
          "cachedResultName": "Shared Folder — Blog Post - Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "blogTopic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('blogTopic', `The topic of the blog.`, 'string') }}",
            "targetAudience": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `The target audience for the blog.`, 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "blogTopic",
              "displayName": "blogTopic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "targetAudience",
              "displayName": "targetAudience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -432,
        416
      ],
      "id": "ac4d9b3b-e295-44c5-96b7-130302508887",
      "name": "Blog Post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "32e94e8c-3d1f-453c-95b8-becdd459d824",
      "name": "Set 'Text'",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "85ae2f8f-f874-433d-94d9-10c843e81cc0",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1264,
        -240
      ],
      "webhookId": "c0b376b1-7b63-41b6-8063-0b3096b8333d",
      "credentials": {
        "telegramApi": {
          "id": "QYNyyU8D1JJKR749",
          "name": "Ahmed"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "81371989-cb99-4adc-aaf7-60669b913a5c",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -1104,
        -240
      ],
      "credentials": {
        "openAiApi": {
          "id": "LMhBWR4HHC3Gn64j",
          "name": "Ahmed"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b15688e6-9ddd-485d-b453-c1239acf1d1f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1696,
        -160
      ],
      "webhookId": "99eab1a0-569d-4f0f-a49e-578a02abfe63",
      "credentials": {
        "telegramApi": {
          "id": "QYNyyU8D1JJKR749",
          "name": "Ahmed"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=## Overview\nYou are an AI agent assisting the marketing team. Your primary responsibilities include generating or editing images, producing content, and creating videos based on user input.\n\n## Tools\n- createImage – Use this tool to generate a new image based on the user’s prompt.\n- editImage – Use this tool to modify an existing image. Users might refer to this as \"edit\" or \"make.\"\n- Image Database – Use this to search for existing images.\n- blogPost – Use this to create a blog article.\n- createVideo – Use this to produce a video.\n- heyGen - Use this to send Cold Heygen Video Outreach to Linkedin Leads(Apollo) via Cold Emailing\n- backLinks - Use this to send backlinking request\n- viralContentIdeaGenerator - Use this to generate viral content ideas for the specified niche\n- postToAllSocialMedia - Use this to post or publish to all our social medias\n- Think – Use this if assistance is needed in making a decision.\n\n## Instructions\n- When the user says \"edit that image\" or \"make that...\", interpret it as a request to edit the most recent image found in the Image Database.\n- If a blog post is requested, use the respective blogPost tool. While also responding with \"Here is the Post you requested for\"\n\n## Output Guidelines\n- Always return image links in a clickable format.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -800,
        -160
      ],
      "id": "b728cbd8-c16b-4153-a16f-2e185d4ee3c3",
      "name": "Marketing Team Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -800,
        -368
      ],
      "id": "f6ce514e-72aa-4360-8eec-df278e8f1b14",
      "name": "Think"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -896,
        -336
      ],
      "id": "d708d830-75ad-4576-a63c-642205b86ece",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LMhBWR4HHC3Gn64j",
          "name": "Ahmed"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "31af32a0-40be-41ee-b545-59e92f111c28",
      "name": "Switch Voice or Text",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1520,
        -160
      ]
    },
    {
      "parameters": {
        "name": "createImage",
        "description": "Call this tool to create an image. ",
        "workflowId": {
          "__rl": true,
          "value": "4fJe8e0VO72ZCsCS",
          "mode": "list",
          "cachedResultName": "Shared Folder — Create an Image - Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "imagePrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', `The image requested by the user`, 'string') }}",
            "imageTitle": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', `The title of the image. Should be no more than 4 words.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "imageTitle",
              "displayName": "imageTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "imagePrompt",
              "displayName": "imagePrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -1072,
        240
      ],
      "id": "a6522a8a-78b0-4466-822e-ccc2378c6466",
      "name": "Create An Image"
    },
    {
      "parameters": {
        "name": "heyGen",
        "description": "Call this tool to send Cold Heygen Video Outreach to Linkedin Leads(Apollo) via Cold Emailing",
        "workflowId": {
          "__rl": true,
          "value": "rZGEHHIgv6KPpk5F",
          "mode": "list",
          "cachedResultName": "Shared Folder — HeyGen Cold Email - Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `Query to send Heygen Cold emailing videos`, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -48,
        112
      ],
      "id": "1fcad72b-2a5e-466d-abfe-8af20e28f1d4",
      "name": "Heygen Video Cold Outreach"
    },
    {
      "parameters": {
        "name": "backLinks",
        "description": "Call this tool for Backlinking requests",
        "workflowId": {
          "__rl": true,
          "value": "Sfaj3Xh7wTDhoQ3K",
          "mode": "list",
          "cachedResultName": "Shared Folder — BackLinks: Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Niche": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Niche', `The niche to do the backlinking for`, 'string') }}"
          },
          "matchingColumns": [
            "niche"
          ],
          "schema": [
            {
              "id": "Niche",
              "displayName": "Niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -144,
        240
      ],
      "id": "ce9427e0-b41d-49ed-a7ee-d4ed796916c4",
      "name": "BackLinking"
    },
    {
      "parameters": {
        "name": "viralContentIdeaGenerator",
        "description": "Call this tool for Viral Content Idea Generating",
        "workflowId": {
          "__rl": true,
          "value": "QrT03KilQtEOP2Rt",
          "mode": "list",
          "cachedResultName": "Shared Folder — Viral Content Idea Generator: Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "instagram_niche": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('instagram_niche', `The niche we want to get Viral Content Ideas for`, 'string') }}"
          },
          "matchingColumns": [
            "instagram_niche"
          ],
          "schema": [
            {
              "id": "instagram_niche",
              "displayName": "instagram_niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -608,
        448
      ],
      "id": "81cf4866-abf6-4aeb-9074-33a55b451bdf",
      "name": "Viral Content Idea G"
    },
    {
      "parameters": {
        "name": "postToAllSocialMedia",
        "description": "Call this tool for posting or Publishing content to all our social medias",
        "workflowId": {
          "__rl": true,
          "value": "1OJnENEY1eh2B7eO",
          "mode": "list",
          "cachedResultName": "Shared Folder — Blotato Social Media Posting: SubAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "social_media_query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('social_media_query', `The video or Image we want to post or publish to all our social medias`, 'string') }}"
          },
          "matchingColumns": [
            "instagram_niche"
          ],
          "schema": [
            {
              "id": "social_media_query",
              "displayName": "social_media_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -272,
        352
      ],
      "id": "1e97b1d5-ccc4-45e7-a224-8da3c104729e",
      "name": "Post to All Social Media"
    },
    {
      "parameters": {
        "name": "createVideo",
        "description": "Call this tool to create a video.",
        "workflowId": {
          "__rl": true,
          "value": "teKlkVNcEUdWrxHq",
          "mode": "list",
          "cachedResultName": "Shared Folder — Veo3 Video Generation - Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoTopic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('videoTopic', `The topic of the Ad video plus other context`, 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "videoTopic",
              "displayName": "videoTopic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -1152,
        112
      ],
      "id": "2cf5700b-e1cd-4d4d-8e6a-609a6109ad50",
      "name": "Create An Ad Video"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -336,
        -160
      ],
      "id": "54d471c4-71af-4404-9e05-43eee805b3e0",
      "name": "Send a text message",
      "webhookId": "fbdb3bd7-490b-4d3e-961e-e2d398294649",
      "credentials": {
        "telegramApi": {
          "id": "QYNyyU8D1JJKR749",
          "name": "Ahmed"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Images": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Blog Post": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Text'": {
      "main": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Team Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch Voice or Text": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set 'Text'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create An Image": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Heygen Video Cold Outreach": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "BackLinking": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Viral Content Idea G": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Post to All Social Media": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create An Ad Video": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db7bef41-63fe-4d4a-b9ba-705c18d8ae0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2017cc6d1e4b956d269a8123bffa72fb7aaa41ad37a73b7c0fb64c7d0e2edae"
  },
  "id": "Hz8iQZhyLK9rTlMs",
  "tags": []
}
